@font-face {
  font-family: "MonoCondensed";
  src: local("DejaVu Sans Mono Condensed"), url("DejaVuSansMonoCondensed.otf") format("opentype");
}

@font-face {
  font-family: "Handwriting";
  src: local("Neucha"), url("http://horstmann.com/MySlidy/Neucha.ttf") format("opentype");
}

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);

h1 { 
    border-bottom-style: double;
    border-bottom-color: #00008B /* darkblue */;
    border-bottom-width: thick; 
    clear: both; 
}

body {
   font-family: sans-serif; /* so that entities come out ok */
}

h1, h2, h3, h4 {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
}

code, tt, pre { 
  font-family: "Courier New", Courier, monospacer;
}

code b { 
  color: black;
}

blockquote {
  background: #eee;
  padding: 1em;
  font-size: 0.8em;
}

pre {  clear: none;
  background-color: #FFFEED;
  border-color: #ccc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-style: solid;
  border-width: 1px;
}

pre strong { 
  color: red;
}

pre em { 
  color: gray;
}



a:link { color: #00008B /* darkblue */
}

a:visited { color: #9090a0 /* darkblue */
}


ol > li { 
  margin-bottom: 0.5em;
}
.date {
	font-size:small;
	color:#999
}
.note {    
  background-image: url("images/note-icon.gif");
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-bottom: 5px;
}

.caution {    
  background-image: url("images/caution-icon.gif");
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-bottom: 10px;
}

.shout {
	color: red;
	font-weight:bolder;
	font-size: larger;
}

.question, .q { 
  background-image: url("images/question-icon.png");
  background-repeat: no-repeat;
  padding-left: 20px; 
  padding-bottom: 5px; 

}

.optional { 
  background-image: url("images/optional-icon.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-bottom: 5px;
}

.windows {    
  background-image: url("images/windows-icon.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-bottom: 25px;
}

img.img{
	margin-right: 10px;
}

.u {
  text-decoration: underline; 
}

.napkin, .hand, samp { 
  font-family: "Handwriting", "Comic Sans MS";
}

.napkin {
  border-collapse: collapse;
}

.napkin td { 
   border-style: solid;
   border-width: thin;   
}

pre.napkin { 
  background-color: #B0E0E6 /* powderblue */;
}

table {
  border-style: none;
  font-size: 0.9em;
}

th { 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.em;
  border-style: none;
  background-color: #CCC; 
}

td { 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.em;
  border-style: none;
  background-color: #FFF8DC; /* cornsilk */
}

.horizontalmenu {
 font-size: 90%;
}

.horizontalmenu ul {
 list-style: none;
 padding: 0;
}

.horizontalmenu li {
 display: inline;
 margin: 0.1em;
}

.horizontalmenu a:link, .horizontalmenu a:visited {
 padding: 0.4em 1em 0.4em 1em;  
 color: #FFFFFF;
 background-color: #B51032;
 text-decoration: none;
}

.horizontalmenu a:hover {
 color: #FFFFFF;
 background-color: #711515;
}

.title { 
 margin: 0em;
 padding: 0.25em;
 font-size: 2em;
 background-color: #D3A26A;
 font-family: "Cabin", sans-serif;
}

.lower-alpha { 
 list-style: lower-alpha;
}

.note:before {    
  content: " Note: ";
  font-weight: bold;
}

.note, .caution {
  border-color: #ccc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-width: 1px;
}

.outcome:before {    
  content: " Outcome: ";
  font-weight: bold;
}

.outcome {
  background-color: cornsilk;
}

.rubric:before {    
  content: " Rubric: ";
  font-weight: bold;
}

.rubric {
  background-color: cornsilk;
}



.answer { 
  border-style: solid;
  border-width: 0.25pt;
}

.answer td { 
  border-style: dotted;
  border-width: 0.25pt;
}


.textfield { 
  border-style: solid;
  border-width: 0.25pt;
  width: 100%;
}


.textfield td { 
  height: 3ex;
  border-style: dotted;
  border-width: 0.25pt;
}

.screenshot{
	border:1px solid black;
}

@media print { 

  .answer td { 
    padding: 0.5ex;
  }

  pre { 
    font-size: 8pt;
  }

  .solution {
    color: white;
    font-size: 1pt;
  } 
  .solution table { 
    color: black;
    page-break-inside: avoid;
  }   

  .solution table td { 
    color: white;
    border-color: black;
    padding: 0.125in;
  }

  .outcome, .note { 
    display: none;
  }

  .solution img { 
    visibility: hidden;
    padding: 0.5in 0.5in 0.5in 0.5in; 
  }

}

@media screen { .solution {
  color: red;
  font-style: italic;  
  } }

.wordchoice { 
  text-decoration: underline;
  letter-spacing: 1in;
 }

.wordchoice .solution { 
  letter-spacing: normal;
 }

.description { 
  padding-left: 0.5in;
  padding-right: 0.5in;
  font-style: italic;  
 }


@page :right {
  @bottom-right {
    content: counter(page);
  }
}

var, .var {
  font-style: italic;
  font-family: serif;
}

abbr, .gray { 
  color: gray;
}

.attention{
	color:red;
}

.clickme{
	background-color:#CCC;
	border: 1px solid black;
	line-height: 150%;
}

.stepheader{
	background-color:  #FFF8DC;
	line-height: 1.2em;
}
.stepbody{
	line-height: 1.2em;
}