@font-face {
  font-family: "MonoCondensed";
  src: local("DejaVu Sans Mono Condensed"), url("http://horstmann.com/MySlidy/DejaVuSansMonoCondensed.otf") format("opentype");
}

pre, code { 
  font-family: "MonoCondensed", monospace
}

h1 { 
    border-bottom-style: double;
    border-bottom-color: #00008B /* darkblue */;
    border-bottom-width: thick; 
    clear: both; 
}

body {
   font-family: sans-serif; /* so that entities come out ok */
}

h1, h2, h3, h4 {
    font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
}

code, tt { 
  color: #666;
}

blockquote {
  background: #eee;
  padding: 1em;
  font-size: 0.8em;
}

pre {  clear: none;
  background-color: #FFFACD /* lemonchiffon */;
  border-color: #00008B /* darkblue */;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-left-width: medium;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
}

pre strong { 
  color: red;
}

a:link { color: #00008B /* darkblue */
}

a:visited { color: #9090a0 /* darkblue */
}


ol > li { 
  margin-bottom: 0.5em;
}

.note {    
  background-image: url("../images/note-icon.gif");
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-bottom: 5px;
}

.question { 
  background-image: url("../images/question-icon.gif");
  background-repeat: no-repeat;
  padding-left: 25px;
}

.optional { 
  background-image: url("../images/optional-icon.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-bottom: 5px;
}

table {
  border-style: none;
  font-size: 0.9em;
}

td { 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.em;
  border-style: none;
  background-color: #FFF8DC; /* cornsilk */
}

.horizontalmenu {
 font-size: 90%;
}

.horizontalmenu ul {
 list-style: none;
 padding: 0;
}

.horizontalmenu li {
 display: inline;
 margin: 0.1em;
}

.horizontalmenu a:link, .horizontalmenu a:visited {
 padding: 0.4em 1em 0.4em 1em;  
 color: #FFFFFF;
 background-color: #B51032;
 text-decoration: none;
}

.horizontalmenu a:hover {
 color: #FFFFFF;
 background-color: #711515;
}

.title { 
 margin: 0em;
 padding: 0.25em;
 font-size: 2em;
 background-color: #D3A26A;
 font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
}

.napkin { 
  font-family: "Comic Sans MS";
  font-size: 1.2em;
   border-collapse: collapse;
}

.napkin td { 
   border-style: solid;
   border-width: thin; 
  
}

.lower-alpha > li { 
  list-style-type: lower-alpha;
}