<p>Count the number of even and odd elements in an array of integers. Since you
    must return two counts, place them into an array of length 2. For example,
    if you are given the array</p>

    <pre>1, 4, 9, 16, 25</pre>

    <p>you return the array with elements</p>

    <pre>2, 3</pre>

    <p>since there were two even and three odd elements.</p>


<p>Complete the following code:</p>
<pre>public class Numbers
{
   /**
    * Computes the number of even and odd values in a given full array of
    * integers. For a full array, its length is the number of elements.
    * 
    * @param values an array of integer values
    * @return an array of length 2 whose 0 entry contains the count
    * of even elements and whose 1 entry contains the count of odd
    * values
    */
   public static int[] evenOdds(int[] values)
   {
      // your work here



   }
}
</pre>
